<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block tile %} {% endblock %}
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static  'blog/css/my_style.css' %}">

{% block style %}{% endblock %}
</head>
<body>

<!-- header debut -->
{% include 'blog/partials/header.html' %}
<!-- header fin -->
{% block content %}

{% endblock %}




<script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>
</html>